

<% if url.present? %>
    <%= link_to url  do %>
         <button  type="<%= type %>" class="btn btn-<%= variant %> <%= class_names %>"><%= text %></button>
    <% end %>
<% else %>
         <button  type="<%= type %>" class="btn btn-<%= variant %> <%= class_names %>"><%= text %></button>
<% end %>