<% if user_signed_in? %>
<h1>Signed in</h1>
<%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do  %>
    <%= render(Button::NewComponent.new(text: "Logout"))  %>
<% end  %>

<%= simple_form_for :tweet, local: true, url: tweet_index_path  do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>

<ul>
<% Tweet.all.each do |tweet| %>
   <li><%= tweet.body %></li> 
<% end %>
</ul``>
<% else %>
<h1>Signed out</h1>
<%= render(Button::NewComponent.new(text: "Sign up", url: new_user_registration_path)) %>
<hr />
<%= render(Button::NewComponent.new(text: "Login", url: new_user_session_path, variant: "info" )) %>
<% end %>