<div class="tweet_card"   id="<%= dom_id tweet %>" >
    <div class="header">
        <p class="display_name">
        <%= tweet.user&.user_display %>
        </p>
        <p class="username">
        <%= tweet_owner %> | <%= time_ago %> </p> 
    </div>

    <p>
        <%= tweet.body %>
    </p>

</div>
