<div class="tweet_card"   id="<%= dom_id tweet %>" >
<% if tweet.avatar.present? %>
<%= image_tag tweet.avatar, class: "rounded-circle border" , width: "40", height: "40" %>

<% else %>
<img src="https://fakeimg.pl/600x400" class="rounded-circle" style="width: 40px; height: 40px"
  alt="Avatar" />
<% end %>

<div class="tweet_body">
    <div class="header">
        <p class="display_name">
        <%= tweet.user_display %>
        </p>
        <p class="username">
        <%= tweet.user_handle %> | <%= time_ago %> </p> 
    </div>
    <p>
        <%= tweet.body %>
    </p>

   <div class="tweet_actions" id="tweet_actions_<%= tweet.id %>"  >
        <%= render "shared/tweet_actions", tweet: tweet %>
    </div>
</div>


</div>
