<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="width: 100%">
        <%= render(Alert::NewComponent.new(text: notice, is_visible: notice.present? ))%>
        <%= render(Alert::NewComponent.new(text: alert, is_visible: alert.present?, type: "danger" ))%>

    <div class="container  app_container">
    <%= render "layouts/shared/sidebar" %>
      <div class="middle_container">
        <%= yield %>
      </div>
      <div class="sidebar_container">
      content
      </div>
    </div>

    <%# Modals %>
    <%= render(TweetModal::NewComponent.new()) %>

  </body>
</html>
